node_modules
dist/
*.log
.vscode
src/chromium/86.0.4240.0.manifest
src/chromium/cache/Default/Code Cache/js/index
src/chromium/cache/Default/Code Cache/js/index-dir/the-real-index
src/chromium/cache/Default/Code Cache/wasm/index
src/chromium/cache/Default/Code Cache/wasm/index-dir/the-real-index
src/chromium/cache/Default/GPUCache/data_0
src/chromium/cache/Default/GPUCache/data_1
src/chromium/cache/Default/GPUCache/data_2
src/chromium/cache/Default/GPUCache/data_3
src/chromium/cache/Default/GPUCache/index
src/chromium/cache/DevToolsActivePort
src/chromium/chrome.dll
src/chromium/chrome.exe
src/chromium/chrome_100_percent.pak
src/chromium/chrome_200_percent.pak
src/chromium/chrome_elf.dll
src/chromium/chrome_proxy.exe
src/chromium/chrome_pwa_launcher.exe
src/chromium/D3DCompiler_47.dll
src/chromium/elevation_service.exe
src/chromium/eventlog_provider.dll
src/chromium/First Run
src/chromium/icudtl.dat
src/chromium/interactive_ui_tests.exe
src/chromium/libEGL.dll
src/chromium/libGLESv2.dll
src/chromium/locales/ar.pak
src/chromium/locales/bg.pak
src/chromium/locales/bn.pak
src/chromium/locales/ca.pak
src/chromium/locales/cs.pak
src/chromium/locales/da.pak
src/chromium/locales/de.pak
src/chromium/locales/el.pak
src/chromium/locales/en-GB.pak
src/chromium/locales/en-US.pak
src/chromium/locales/es-419.pak
src/chromium/locales/es.pak
src/chromium/locales/et.pak
src/chromium/locales/fi.pak
src/chromium/locales/fil.pak
src/chromium/locales/fr.pak
src/chromium/locales/gu.pak
src/chromium/locales/he.pak
src/chromium/locales/hi.pak
src/chromium/locales/hr.pak
src/chromium/locales/hu.pak
src/chromium/locales/id.pak
src/chromium/locales/it.pak
src/chromium/locales/ja.pak
src/chromium/locales/kn.pak
src/chromium/locales/ko.pak
src/chromium/locales/lt.pak
src/chromium/locales/lv.pak
src/chromium/locales/ml.pak
src/chromium/locales/mr.pak
src/chromium/locales/ms.pak
src/chromium/locales/nb.pak
src/chromium/locales/nl.pak
src/chromium/locales/pl.pak
src/chromium/locales/pt-BR.pak
src/chromium/locales/pt-PT.pak
src/chromium/locales/ro.pak
src/chromium/locales/ru.pak
src/chromium/locales/sk.pak
src/chromium/locales/sl.pak
src/chromium/locales/sr.pak
src/chromium/locales/sv.pak
src/chromium/locales/ta.pak
src/chromium/locales/te.pak
src/chromium/locales/th.pak
src/chromium/locales/tr.pak
src/chromium/locales/uk.pak
src/chromium/locales/vi.pak
src/chromium/locales/zh-CN.pak
src/chromium/locales/zh-TW.pak
src/chromium/MEIPreload/manifest.json
src/chromium/MEIPreload/preloaded_data.pb
src/chromium/mojo_core.dll
src/chromium/nacl_irt_x86_64.nexe
src/chromium/notification_helper.exe
src/chromium/resources.pak
src/chromium/swiftshader/libEGL.dll
src/chromium/swiftshader/libGLESv2.dll
src/chromium/v8_context_snapshot.bin
